.content{ display: flex; align-items: center; justify-content: center;}
.buttons{
    font-size: 22px;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 2%;
    margin-top: 15%;
    background-color: #cfc7f8;
    background-image: linear-gradient(315deg, #cfc7f8 0%, #ebbba7 74%);
}
.join{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.create-btn{width: 100%;}
.message-box{
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
    background-color: #cfc7f8;
    background-image: linear-gradient(315deg, #cfc7f8 0%, #ebbba7 74%);
}
.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}
.inputs{
    padding: 10px;
    display: flex;
}
h2{text-align: center;}
#message{ flex: 1;}
.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.muted{
    font-size: 10px;
    color: darkgray;
}